@import "tailwindcss";

@layer base {
  html,
  body {
  
  }

  body {
    font-family: var(--font-Poppins, Poppins, sans-serif);
  }
}

@theme {
  --font-Poppins: Poppins, sans-serif;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none !important;
  width: 0;
  height: 0;
  border: none;
  opacity: 0 !important;
}